@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 10px;
  background-color: rgba(0, 135, 62, 0.2);
  /*background-image: url('');*/
  /*background-size: ; !* makes it cover the whole page *!*/
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main {
  margin-top: 2rem;
  text-align: center;
}

h1,
h2,
h3,
p {
  color: #042b5f;
}
